.produto {
    display: inline-block;
    color: black;
}

.produto img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.produto .promocao {
    display: inline-block;
    color: red;
}



.produto a:link {
    text-decoration: none;
    color: inherit;
}

.produto a:visited {
    text-decoration: none;
}

.produto a:hover {
    text-decoration: underline;
}

.produto a:active {
    text-decoration: underline;
}