.produto {
    color: black;
    padding: 15px;
    margin: 20px;
}

.produto .promocao {
    display: inline-block;
    color: red;
}

.produto img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.produto a:link {
    text-decoration: none;
    color: inherit;
}

.produto a:visited {
    text-decoration: none;
    color: inherit;
}

.produto a:hover {
    text-decoration: underline;
    color: inherit;
}

.produto a:active {
    text-decoration: underline;
    color: inherit;
}

.produto p {
    width: 100%;
}

.header {
    background-color: aqua;
    color: blue;
    font-weight: bold;
}

button {
    height: 50px;
    margin: auto;
    border: 1px solid #0066cc;
    background-color: #0099cc;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }