button {
    height: 50px;
    margin: auto;
    border: 1px solid #2064a5;
    background-color: #2064a5;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 10px;
}
  
button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled,
button[disabled]{
    border: 1px solid #b5b5b5;
    background-color: #b5b5b5;
    color: #666666;
}

.produto {
    color: black;
    padding: 15px;
    margin: 20px;
}

.produto .promocao {
    display: inline-block;
    color: red;
}

.produto img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.produto a:link {
    text-decoration: none;
    color: inherit;
}

.produto a:visited {
    text-decoration: none;
    color: inherit;
}

.produto a:hover {
    text-decoration: underline;
    color: inherit;
}

.produto a:active {
    text-decoration: underline;
    color: inherit;
}

.produto p {
    width: 100%;
    margin: 0px 10px;
}

.produto h5{
    margin: 0px 10px;
}

.header {
    background-color: #e5f1fb;
    border-color: #e5f1fb;
    color: #006699;
    font-weight: bold;
}